name: Selenium Tests CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Run Automation Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Setup Google Chrome
        run: |
          sudo apt update
          sudo apt install -y google-chrome-stable

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run Gradle tests
        run: |
          ./gradlew clean test \
          -Dbase.url=${{ secrets.BASE_URL }} \
          -Demail=${{ secrets.EMAIL }} \
          -Dpassword=${{ secrets.PASSWORD }}

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports/tests/test

